


  body{
    background-color: rgb(156, 228, 228);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
h1 {
    color: rgb(165, 161, 161);
    background-color: lightblue;
}
p {
    text-align: justify;
}
h2 {
    color: darkred
}